<!DOCTYPE html>
<head>
    <title>Weather Prophet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
</head>
<html>
    <div>
    <body>
        <h1>Weather Prophet</h1>
        <img id="crystalBall" src="crystalBall.png">
        <form method="post">
            <label>Longitude:
            <input required="true" type="number" step=".01" name="lon"></label>
            <label>Latitude:
            <input required="true" type="number" step=".01" name="lat"></label>
            <button name="submit" type="submit">Submit</button>
        </form>
        <p>Flagstaff: lon: 111.65 lat: 35.19</p>
    </body>
    </div>
</html>

