<!DOCTYPE html>
<head>
    <title>Weather API</title>
</head>
<html>
    <body>
        <h1>Weather Prophet</h1>
        <form method="post">
            <label>Longitude:
            <input type="number" name="lon"></label>
            <label>Latitude:
            <input type="number" name="lat"></label>
            <label>Exclude:
            <select name="exclude"> 
                <option value="current">Current</option>
                <option value="minutely">Minutely</option>
                <option value="hourly">Hourly</option>
                <option value="daily">Daily</option>
                <option value="alerts">Alerts</option>
            </select></label>
            <button name="submit" type="submit">Submit</button>
        </form>
        <p>Flagstaff: lon: 35.1983 lat: 111.6513</p>
    </body>
</html>
